<nav class="flex-column">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            🏠 Inicio
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="universidad">
            🎓 Universidad
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="aliado">
            🤝 Aliado
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="enfoque">
            🧭 Enfoque
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="facultad">
            🏫 Facultad
        </NavLink>
    </div>

      <div class="nav-item px-3">
        <NavLink class="nav-link" href="acreditacion">
            📋 Acreditacion
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="aarc">
            📋 aa_rc
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="enfoquerc">
            🧭 Enfoque_rc
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="aspectonormativo">
            ⚖️ Aspecto Normativo
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="carinnovacion">
            💡 Car Innovación
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="programa_pe">
            💡 Programa_pe
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="practicaestrategia">
            📘 Práctica Estrategia
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="programa_ac">
             Programa_ac
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="an_programa">
             An_Programa
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="pasantias">
             Pasantias
        </NavLink>
    </div>

</nav>