<nav class="flex-column">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            🏠 Inicio
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="universidad">
            🎓 Universidad
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="aliado">
            🤝 Aliado
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="enfoque">
            🧭 Enfoque
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="aspectonormativo">
            ⚖️ Aspecto Normativo
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="carinnovacion">
            💡 Car Innovación
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="PracticaEstrategium">
            📘 Práctica Estrategia
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="DocenteDepartamento">
            📘 Docente Departamento 
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Alianza">
            📘 Alianza
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Programa_ci">
            📘 Programa_ci
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="ActivAcademica">
            📘 Actividad Academica
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Premio">
            📘 Premio
        </NavLink>
    </div>
    
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="RegistroCalificado">
            📘 RegistroCalificado
        </NavLink>
    </div>


</nav>